<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Менеджер групп: {{title}}</title>
</head>
<body>
    <header class="colors">
        <h1 class="label">Менеджер групп</h1> 
        {% block in-out %}
            {% if request.user.is_authenticated %}
                <p class="label user-out"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></p>
            {% else %}
                <meta http-equiv="Refresh" content="0; {% url 'login' %}">
            {% endif %}
        {% endblock in-out %}
    </header>      
    <main>  
        <h2>{{title}}</h2>
        {% block main %}{% endblock main %}
    </main>
    <footer class="colors label"></footer>
</body>
</html>