{% extends "base.html" %}
{% block title %}Менеджер групп{% endblock title %}
{% block main %}
<div class="container">
<table>
    <thead>
        <tr>
            <th colspan="4">Ваши группы</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Название группы</td>
            <td>Направление</td>
            <td>Возраст</td>
            <td>Количество</td>
        </tr>
        <tr>
            <td>{{groupData.0}}</td>
            <td>{{groupData.1}}</td>
            <td>{{groupData.2}}</td>
            <td>{{groupData.3}}</td>
        </tr>
        <tr>
            <td>{{groupData.0}}</td>
            <td>{{groupData.1}}</td>
            <td>{{groupData.2}}</td>
            <td>{{groupData.3}}</td>
        </tr>
        <tr>
            <td>{{groupData.0}}</td>
            <td>{{groupData.1}}</td>
            <td>{{groupData.2}}</td>
            <td>{{groupData.3}}</td>
        </tr>
        <tr>
            <td>{{groupData.0}}</td>
            <td>{{groupData.1}}</td>
            <td>{{groupData.2}}</td>
            <td>{{groupData.3}}</td>
        </tr>
        
    </tbody>
</table>
</div>
{% endblock main %}