{% extends "base.html" %}
{% block in-out %}
{% if request.user.is_authenticated %}
<p class="label user-out"> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></p>
{% else %}
<meta http-equiv="Refresh" content="0; {% url 'login' %}">
{% endif %}
{% endblock in-out %}
{% block main %}
<div class="scroll container">
    <table class="data-table">
        <thead>
            <tr>
                <th colspan="5">Ваши группы</th>
            </tr>
        </thead>
        <tbody>
            <tr> 
                <td>Название группы</td>
                <td>Направление</td>
                <td>Возраст</td>
                <td>Количество</td>      
                <td>Просмотреть группу</td>           
            </tr>
            {% for group in groups %}
            <tr>
                <td>{{group.name}}</td>
                <td>{{group.course}}</td>
                <td>{{group.minAge}} - {{group.maxAge}}</td>
                <td>0/{{group.capacity}}</td>
                <td><a class="label" href="{% url 'change' group.pk %}">Изменить</a> | <a class="label" href="{% url 'change' group.pk %}">Перейти</a></td>
            </tr>
            {% endfor %}      
        </tbody>
    </table>
</div>
<div class="container">
    <form action="{% url 'main' %}" method="get"> 
        {% csrf_token %}
        {% for f in form1 %}
        <p>
            <label class="form-label" for="{{ f.id_for_label }}">
                {{f.label}}: 
            </label>{{ f }}
        </p>
        {% endfor %}
            <button type="submit" name="sort">Сортировать</button>
    </form>
</div>
<div class="container">
    <form method="post"> 
        {% csrf_token %}
        {% for f in form2 %}
        <p>
            <label class="form-label" for="{{ f.id_for_label }}">
                {{f.label}}: 
            </label>{{ f }}
        </p>
        {% endfor %}
            <button type="submit" name="delete">Удалить</button>
    </form>
</div>
<div class="container">
    <p>
        <a class="label" href="{% url 'create_group' %}">Добавить группу</a>
    </p>
</div>
{% endblock main %}