h1 {

    text-align: center;  
}

body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: white;
}

main {
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 50px;
    padding-right: 50px;
    border: solid;
}

footer {
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 20px; 
}

.colors {
    color: white;
    background-color: #4682B4;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}

header, main{
    padding-top: 20px;
    padding-bottom: 20px;
}

