body, html{
    width: 100%;
    margin: 0px;
    background-color:white;
}

body {
    min-height: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}

header {
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

main {
    height: 600px;
    margin: 0px auto 20px;
    padding: 50px;
    padding-top: 20px;
    border: solid;
    width: 1000px
}

table {
    text-align: center;
    width: 780px;
    margin: auto;
}

table, td {
    border: solid 1px black;
}

td {
    height: 40px;
}

thead, tfoot {
    background-color: #333;
    color: #fff;
}

footer {
    position: fixed;
    height: 100px;
    left: 0;
    right: 0;
    bottom:0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 20px; 
}

.scroll {
    overflow-y: scroll;
}

.container {
    margin: auto;
    margin-bottom: 50px;
    width: auto;
    max-width: 800px;  
    height: auto;
    max-height: 300px;   
}

.form-label {
    display: inline-block;
    min-width: 300px;
    vertical-align: top;
}

.colors {
    color: white;
    background-color: #4682B4;
}

.label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10;
}

.user-out {
    text-align: right;
    color: #000;
    font-size: 25px;
    margin: 10px;
}